*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: right;
    align-items: center;
    padding:25px 4%;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 0 16px;

}
nav ul li a{
    text-decoration: none;
    color: #242A45;
    text-transform: capitalize;
    align-items: right;
    display: inline-block;
    font-weight: bold;
}
a span{
    color: #FF6464;
}
.class2{
    padding: 80px 10%;
}
.class2 h4{
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 30px;
}
hr{
    padding-bottom: 16px;
}
.class3{
    display: flex;
    padding: 10px;
    border-bottom: solid 1px #E0E0E0;
}
.class5 img{
    padding-bottom: 8px;
}
.class5{
  
    padding: 20px;
}
.class5 h3{
    font-size: 26px;
    color: #21243D;
    padding-top: 20px;
    padding-bottom: 15px;
}
.class5 h3 a{
    text-decoration: none;
}
.class5 p{
    padding-bottom: 15px;
    padding-left: 10px;
}
.class5.class6{
    padding: 4px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 4px;
    color: #FFFFFF;
    background-color: #21243D;
    border-radius: 20px;
}
.right p span{
    color: #8695A4;
}
.class7{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}
.class8{
    margin: 10px;
    padding:25px;
}
.class8 img{
    padding: 11px;
}
.class9{
    padding: 10px;
    font-size: 16px;
}

/* mobile */
@media (max_width:767px) {

   
    .right p span{
        color: #c935b5;
    }
    }
    
        /* small screen */
    
    @media(min_width:768px){
        .container{
            max-width: 768px;
        }
        .class5.class6{
            background-color: #1d96c5;
        }
    }
     /* medum screen */
    @media(min_width: 992px){
        .container{
            max-width: 992px;
        }
        .class5 h3 :hover{ 
            color: #1d96c5;
        }
    }
    /* large screen */
    @media(min_width: 1200px){
        .container{
            max-width: 1200px;
        }
        .class5{
  
            padding: 15px;
        }
    }
    




